h1 {
  font-size: 5.0520833333vw;
  font-size: 9.2592592593vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  font-family: "Roboto", sans-serif;
  margin-left: auto;
  margin-right: auto;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/ArialMT.woff") format('woff"');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Arial";
  src: url("../fonts/Arial-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bebas Neue";
  src: url("../fonts/BebasNeueBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
header {
  height: 5.2083333333vw;
}

a,
span.header__location,
.loc-selector__items .loc-selector__item {
  color: #212121;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* {
  outline: 1px solid red;
}

.page-title {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
}

.grid {
  padding-top: 5.9895833333vw;
  margin-bottom: 8.4375vw;
  height: 100%;
  display: grid;
  grid-gap: 1.0416666667vw;
  grid-template-columns: 1fr 293px;
  grid-template-rows: 1fr;
  grid-template-areas: "main aside";
}

main {
  grid-area: main;
  display: grid;
}

aside {
  -webkit-box-shadow: 0vw 0vw 3.90625vw rgba(0, 0, 0, 0.03);
          box-shadow: 0vw 0vw 3.90625vw rgba(0, 0, 0, 0.03);
  border-radius: 1.0416666667vw;
  grid-area: aside;
}

.cart-item__title:hover {
  color: #1f8b4f;
}

.tea__button::before {
  display: block;
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: #a1c656;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  position: relative;
  border-bottom: 0.1rem solid #e0e0df;
}

.basket__item-image {
  width: 7.125rem;
  height: 6.25rem;
}

.cart-item__title {
  margin-bottom: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: normal;
  max-width: 17rem;
  min-width: 15rem;
  text-decoration: none;
}

.cart-item__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding-right: 2.7rem;
}

.cart-item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 0;
}

.basket-item-block-amount {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 10px;
}

.tea__button--left {
  color: #fff;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
}

.tea__button--left:active::before {
  background-color: #87a749;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.tea__button--left:hover::before {
  cursor: pointer;
  background-color: #8ebb35;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.tea__button--right:hover::before {
  cursor: pointer;
  background-color: #8ebb35;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.tea__button--left::before {
  background-image: url("./../assets/svg/minus.svg");
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
}

.tea__button--right::before {
  right: 0;
  background-image: url("./../assets/svg/plus.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.tea__button--right {
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  color: transparent;
}

.tea__quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 130px;
  height: 3.1rem;
  -webkit-transition: background ease-in-out 300ms;
  transition: background ease-in-out 300ms;
  position: relative;
}

.tea-content {
  font-size: 0.9rem;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.cart-item-price__value {
  font-size: 1rem;
  line-height: 100%;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.cart-item-price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.cart-item__remove {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  top: 3.375rem;
  right: 10px;
  border: none;
  background-color: transparent;
  background-image: url("./../assets/svg/remove.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cart-item__remove:hover {
  width: 16px;
  height: 16px;
  -webkit-transition: 100ms;
  transition: 100ms;
}

.checkout-field-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 26.9rem;
  max-width: 24.9rem;
}

.checkout-field-container--normal {
  margin-top: 1.1rem;
}

.checkout-field-container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.checkout-field--promo-code {
  width: 9.8rem;
  max-width: 9.8rem;
  min-width: 9.8rem;
}

.checkout-field {
  width: 12.9rem;
  position: relative;
}

.checkout-field__field {
  display: block;
  margin-top: 0.4rem;
}

.checkout-field__field {
  border: 0.1rem solid rgb(204, 204, 203);
  border-radius: 0.1rem;
  height: 3.1rem;
  font-size: 1rem;
  background: rgb(255, 255, 255);
  width: 100%;
  padding-left: 0.625rem;
  display: block;
  resize: none;
}

input,
textarea {
  background: #fff;
  border: 1px solid #d2d5d9;
  padding: 17px 16px;
  font-size: 0.9rem;
  line-height: 130%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #8c9095;
  border-radius: 6px;
  font-weight: 600;
}

.promocode__btn {
  text-align: center;
  -webkit-box-shadow: #cccccb 0px 0px 0px 0.1rem;
          box-shadow: #cccccb 0px 0px 0px 0.1rem;
  display: block;
  font-size: 0.9rem;
  background: #fff;
  line-height: 1.1rem;
  color: #3b3e42;
  margin-top: 0.4rem;
  border-radius: 0.3rem;
  margin-left: 1.1rem;
  height: 3rem;
  text-decoration: none;
  padding-left: 1.2rem;
  padding-right: 1.1rem;
  width: auto;
  border: none;
  opacity: 1;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background: #a1c656;
  color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.promocode__btn:hover {
  -webkit-box-shadow: #b2b5b7 0px 0px 0px 0.1rem;
          box-shadow: #b2b5b7 0px 0px 0px 0.1rem;
}

.button:focus,
.button:hover {
  background: #a1c656;
  color: #fff;
  outline: none;
}

.checkout-field-container__row--promocode {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.basket-checkout-container {
  height: 100%;
}

.checkout-info-cart {
  padding-top: 1.1rem;
}

.checkout-info-cart {
  position: relative;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 1.2rem;
  padding-bottom: 1.7rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background: rgba(237, 239, 240, 0.7);
}

.checkout-info-cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.1rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  line-height: 1.1rem;
}

.checkout-info-cart-item__name {
  color: #3b3e42;
}

.checkout-info-cart-item__price {
  text-align: right;
  font-weight: 600;
}

.checkout-info-cart__stars {
  border-bottom: 1px solid;
  height: 0.5rem;
  width: 100%;
}

.checkout-info__button {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.1rem;
  background: #a1c656;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: normal;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-radius: 0.3rem;
  position: relative;
  -webkit-transition: background-color ease-in-out 200ms;
  transition: background-color ease-in-out 200ms;
  background-color: #a1c656;
  background-position: top center;
  background-repeat: repeat-x;
  background-size: 0.8rem;
  text-decoration: none;
}

.checkout-info__button:hover .checkout-info__button-arrow {
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
  -webkit-transform: translateX(0.6rem);
          transform: translateX(0.6rem);
}

.checkout-info__button-arrow {
  display: block;
  margin-left: 0.6rem;
  background-size: contain;
  width: 1.1rem;
  height: 0.9rem;
  margin-top: 0rem;
  background-image: url("./../assets/svg/arrow.svg");
  z-index: 2;
  -webkit-transition: all ease-in-out 400ms;
  transition: all ease-in-out 400ms;
  -webkit-transform: translateX(0rem);
          transform: translateX(0rem);
}

.checkout-info__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout-info__link {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 0.3rem;
  -webkit-box-shadow: 0 0 0 0.1rem #e0e0df;
          box-shadow: 0 0 0 0.1rem #e0e0df;
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.6rem 0.8rem;
  line-height: 1.1rem;
  color: #3b3e42;
  margin-bottom: 1.4rem;
  -webkit-transition: all ease-in-out 200ms;
  transition: all ease-in-out 200ms;
  width: calc(50% - 0.6rem);
}

.discount {
  margin-top: 20px;
}

@media (max-width: 917px) {
  .checkout__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 1rem;
  }
  .grid {
    padding-top: 0rem;
    margin-bottom: 0rem;
    height: 100%;
    display: grid;
    grid-gap: 0rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main" "aside";
    justify-items: center;
  }
  aside {
    -webkit-box-shadow: 0rem 0rem 4.6875rem rgba(0, 0, 0, 0.03);
            box-shadow: 0rem 0rem 4.6875rem rgba(0, 0, 0, 0.03);
    border-radius: 1.25rem;
    width: 100%;
  }
  main {
    width: 100%;
  }
  .checkout-info-cart {
    margin-top: 0.8rem;
  }
  .basket__item-image {
    width: 7.125rem;
    height: 6.25rem;
  }
  .cart-item__remove {
    top: 3.375rem;
  }
}
@media (max-width: 601px) {
  .cart-item__column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cart-item__image img {
    width: 100%;
    height: auto;
  }
}
.page-section {
  margin-top: 32px;
}

.empty-cart-image {
  width: 217px;
  height: 181px;
  margin: 50px auto 42px;
  background: url(./../assets/svg/basket.svg) no-repeat center;
  background-size: contain;
}

.empty-cart-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 12px;
}

.empty-cart-text {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #838383;
}

.catalog {
  max-width: 540px;
  margin: 0 auto;
}

.grid-decoration {
  padding-top: 5.9895833333vw;
  margin-bottom: 8.4375vw;
  height: 100%;
  display: grid;
  grid-gap: 1.0416666667vw;
  grid-template-columns: 1fr 363px;
  grid-template-rows: 1fr;
  grid-template-areas: "main aside";
}

main {
  grid-area: main;
  display: grid;
}

aside {
  -webkit-box-shadow: 0vw 0vw 3.90625vw rgba(0, 0, 0, 0.03);
          box-shadow: 0vw 0vw 3.90625vw rgba(0, 0, 0, 0.03);
  border-radius: 1.0416666667vw;
  grid-area: aside;
}

.order-checkout__row {
  -webkit-box-align: stretch !important;
      -ms-flex-align: stretch !important;
          align-items: stretch !important;
}

.order-checkout__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-checkout__column {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.order-checkout-field-container--container-phone-code {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.order-checkout-field-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  max-width: 27.875rem;
}

.order-checkout-field-container__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.order-checkout-field--phone {
  position: relative;
}

.order-checkout-field--phone {
  max-width: 245px;
  width: 100%;
}

.order-checkout-field {
  width: 12.875rem;
  position: relative;
}

.order-checkout-field__label {
  font-size: 0.875rem;
}

.order-checkout-field-container__row .ag-countrymask.iti {
  width: 100%;
  margin-top: 5px;
}

.ag-countrymask.iti {
  position: relative;
  display: inline-block;
}

.order-checkout-field-container__row .iti__flag-container {
  width: 90px;
}

.iti--allow-dropdown .iti__flag-container {
  cursor: pointer;
}

.iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
  right: auto;
  left: 0;
}

.iti input,
.iti input[type=tel],
.iti input[type=text] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-right: 36px;
  margin-right: 0;
}

.order-checkout-field--phone {
  max-width: 245px;
  width: 100%;
}

.order-checkout-field--phone {
  position: relative;
}

.form__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.order-checkout-field__label_mini {
  font-size: 0.7rem;
  color: #8b9299;
  line-height: 0.9375rem;
  position: absolute;
  right: 0;
  top: 0.15rem;
}

.order-checkout-field--family {
  margin-left: 0.5625rem;
  position: relative;
}

.order-checkout-field--name {
  margin-right: 0.5625rem;
}

.order-checkout-field--name {
  margin-right: 0.5625rem;
}

.order-checkout-field--phone {
  max-width: 261px;
  width: 100%;
}

.order-checkout-field--100 {
  width: 100%;
}

.order-checkout-field__field {
  display: block;
  margin-top: 0.375rem;
}

.order-checkout-field-container__description {
  margin-top: 0.4375rem;
  font-size: 0.8125rem;
  color: #8b9299;
  line-height: 0.9375rem;
}

.order-checkout-field-container {
  margin-top: 1.5rem;
}

#order_form_content textarea {
  width: 100%;
  height: 54px;
  background: 0;
  font-size: 14px;
  color: #252525;
}

.decoration-form-control {
  padding: 0 0 0 15px;
  border-radius: 3px;
  font: bold 16px "Proxima Nova", sans-serif;
}

.delivery__row--single-line .delivery-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
  max-width: unset;
  min-width: unset;
  margin-right: 1.125rem;
}

.delivery-item {
  cursor: pointer;
  padding-top: 0.91875rem;
  padding-bottom: 0.64375rem;
  width: 100%;
  min-width: 8.8125rem;
  width: 100%;
  max-width: 9.4375rem;
  padding-top: 13px;
  border-radius: 0.3125rem;
  margin-bottom: 1.125rem;
  -webkit-box-shadow: 0 0 0 1px #e0e0df;
          box-shadow: 0 0 0 1px #e0e0df;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  position: relative;
}

.delivery-item {
  cursor: pointer;
  padding-top: 0.91875rem;
  padding-bottom: 0.64375rem;
  width: 100%;
  min-width: 8.8125rem;
  width: 100%;
  max-width: 9.4375rem;
  padding-top: 13px;
  border-radius: 0.3125rem;
  margin-bottom: 1.125rem;
  -webkit-box-shadow: 0 0 0 1px #e0e0df;
          box-shadow: 0 0 0 1px #e0e0df;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  position: relative;
}

.delivery-item input[type=radio] {
  display: none;
}

.delivery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.delivery-item__title {
  font-size: 0.9375rem;
  line-height: 1rem;
  color: #3b3e42;
  display: block;
  text-align: center;
  margin-bottom: 4px;
}

.delivery-item__description {
  font-size: 0.875rem;
  line-height: 1rem;
  display: block;
  text-align: center;
  color: rgba(59, 62, 66, 0.7);
}

.delivery-hide--active > * {
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  -webkit-transition-delay: 150ms;
          transition-delay: 150ms;
  opacity: 1;
}

.delivery-item--active {
  position: relative;
  -webkit-box-shadow: 0 0 0 2px #2fac66;
          box-shadow: 0 0 0 2px #2fac66;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
  cursor: default;
  pointer-events: none;
}

.delivery-item::after {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-0.6875rem) translateX(0.6875rem) scale(0);
          transform: translateY(-0.6875rem) translateX(0.6875rem) scale(0);
  display: block;
  width: 1.75rem;
  pointer-events: none;
  height: 1.75rem;
  content: "";
  background: url("./../assets/svg/check.svg");
  opacity: 0;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.delivery-item--active::after {
  -webkit-transform: translateY(-0.6875rem) translateX(0.6875rem) scale(1);
          transform: translateY(-0.6875rem) translateX(0.6875rem) scale(1);
  opacity: 1;
  -webkit-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

.input-form {
  margin-top: 0.375rem;
  padding-left: 20px;
  height: 45px;
  font-size: 14px;
  background: #fff;
  border: 1px solid #d2d5d9;
}

.order-checkout__title--h3,
.order-checkout__title--small {
  font-weight: 700;
  font-size: 24px;
}

.order-checkout__title--h3 {
  margin: 3rem 0 2rem;
  line-height: 17px;
}

.decoration-soa-property-container {
  margin-top: 0.375rem;
}

.checkout-field--data {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.input-form-time {
  width: 200px;
}

.input-form-data {
  width: 200px;
}

.body-wrap-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.order-price-item__image {
  margin-bottom: 0.1875rem;
  height: 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url("./../assets/svg/map.svg") no-repeat center;
  width: 35px;
}

.order-price-item__image_AC {
  background-image: url("./../assets/svg/map.svg");
  width: 115px;
}

.order-price-item__image_cash {
  background-image: url("./../assets/svg/wallet.svg");
  width: 115px;
}

.order-price-item__image_BB {
  background-image: url("./../assets/svg/score.svg");
  width: 115px;
}

.order-price-item__image_cash {
  background-image: url("./../assets/svg/wallet.svg");
  width: 115px;
}

.order-price-item__title {
  font-size: 0.9375rem;
  line-height: 1.0625rem;
  margin-bottom: 0.23125rem;
  text-align: center;
}

.order-price-item input[type=radio] {
  display: none;
}

.order-price {
  position: relative;
}

.order-checkout__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order-price__row .order-price-item {
  margin-right: 16px;
  width: calc(33% - 15px);
}

.order-checkout-break-row {
  height: 0.0625rem;
  display: block;
  background: #e0e0df;
}

.order-checkout-break-row {
  margin: 40px 0;
}

.order-checkout__title--h3 {
  margin: 3rem 0 2rem;
  font-size: 18px;
  line-height: 17px;
}

.order-checkout__title--small {
  font-size: 1.375rem;
  margin-top: 2rem;
  line-height: 100%;
  font-weight: 600;
}

.order-checkout__title--small {
  margin: 1rem 0;
}

.order-price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start !important;
  margin-top: 1.875rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.order-price-item {
  cursor: pointer;
  width: calc(33% - 0.5625rem);
  -webkit-box-shadow: 0 0 0 1px #e0e0df;
          box-shadow: 0 0 0 1px #e0e0df;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.77375rem 0.1875rem 1.01875rem;
  margin-bottom: 1.125rem;
  border-radius: 0.3125rem;
  padding-top: 10px;
  padding-bottom: 0px;
  position: relative;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

.order-price-item--active {
  -webkit-box-shadow: 0 0 0 2px #2fac66;
          box-shadow: 0 0 0 2px #2fac66;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.order-price-item::after {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateY(-0.6875rem) translateX(0.6875rem) scale(0);
          transform: translateY(-0.6875rem) translateX(0.6875rem) scale(0);
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  content: "";
  opacity: 0;
  background: url("./../assets/svg/check.svg") center/contain no-repeat;
  -webkit-transition: all ease-in-out 250ms;
  transition: all ease-in-out 250ms;
}

.order-price-item--active::after {
  opacity: 1;
  -webkit-transform: translateY(-0.6875rem) translateX(0.6875rem) scale(1);
          transform: translateY(-0.6875rem) translateX(0.6875rem) scale(1);
  -webkit-transition: all ease-in-out 150ms;
  transition: all ease-in-out 150ms;
}

.order-checkout-field__field:hover {
  border: 0.0625rem solid #b2b5b7;
}

.order-checkout-field__field--message {
  min-height: 4.8125rem;
}

.order-checkout-field__field {
  display: block;
  margin-top: 0.375rem;
}

.order-checkout-field__field--message {
  padding-top: 0.75rem;
  padding-left: 0.625rem;
  padding-right: 1.1875rem;
}

.order-checkout-field__field {
  border: 0.0625rem solid #cccccb;
  border-radius: 0.125rem;
  height: 3.125rem;
  font-size: 1rem;
  background: #fff;
  width: 100%;
  padding-left: 0.625rem;
  display: block;
  resize: none;
  font-weight: 400;
}

.order-checkout-info__description {
  color: #8b9299;
  font-size: 0.8125rem;
  text-align: center;
  padding-top: 0.625rem;
}

.grid-decoration {
  position: relative;
}

.basket-total-block {
  position: sticky;
  top: 0;
}

@media (max-width: 917px) {
  .grid-decoration {
    padding-top: 0rem;
    margin-bottom: 0rem;
    height: 100%;
    display: grid;
    grid-gap: 0rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "main" "aside";
    justify-items: center;
  }
  aside {
    width: 100%;
  }
  main {
    width: 100%;
  }
  .order-price__row {
    margin-top: 1.875rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .order-price__row .order-price-item {
    margin-right: 16px;
    width: calc(45% - 0.5625rem);
  }
  .order-checkout-field__field {
    margin-top: 0.3125rem;
    padding-left: 0.5rem;
    height: 2.875rem;
  }
}
@media (max-width: 470px) {
  .order-checkout-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .order-checkout-field--family {
    margin-left: 0rem;
  }
  .order-checkout-field {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */