* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  background-color: #fff;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/ArialMT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/Arial-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

header {
  height: vw(100);
}

a,
span.header__location,
.loc-selector__items .loc-selector__item {
  color: #212121;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

// * {
//   outline: 1px solid red;
// }
