.page-title {
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 800;
  font-size: 32px;
  line-height: 125%;
}

.grid {
  padding-top: vw(115);
  margin-bottom: vw(162);
  height: 100%;
  display: grid;
  grid-gap: vw(20);
  grid-template-columns: 1fr 293px;
  grid-template-rows: 1fr;
  grid-template-areas: 'main aside';
}

main {
  grid-area: main;
  display: grid;
}

aside {
  border-radius: vw(20);
  grid-area: aside;
}

.cart-item__title:hover {
  color: #1f8b4f;
}

.tea__button::before {
  display: block;
  content: '';
  position: absolute;
  width: 29px;
  height: 29px;
  border-radius: 50%;
  background: #a1c656;
  transition: all ease-in-out 250ms;
  top: 50%;
  transform: translateY(-50%);
}

.cart-item {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-direction: row;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  position: relative;
  border-bottom: 0.1rem solid #e0e0df;
}

.basket__item-image {
  width: rem(114);
  height: rem(100);
}

.cart-item__title {
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 1rem;
  line-height: 1.2rem;
  font-weight: normal;
  max-width: 17rem;
  min-width: 15rem;
  text-decoration: none;
}

.cart-item__column {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  padding-right: 2.7rem;
}

.cart-item__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-top: 0;
}

.basket-item-block-amount {
  position: relative;
  display: flex;
  padding: 0 10px;
  align-content: flex-start;
  justify-content: flex-end;
  margin-right: 10px;
}

.tea__button--left {
  color: #fff;
  transition: all ease-in-out 250ms;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 50%;
}

.tea__button--left:active::before {
  background-color: #87a749;
  transition: all ease-in-out 250ms;
}

.tea__button--left:hover::before {
  cursor: pointer;
  background-color: #8ebb35;
  transition: all ease-in-out 250ms;
}

.tea__button--right:hover::before {
  cursor: pointer;
  background-color: #8ebb35;
  transition: all ease-in-out 250ms;
}

.tea__button--left::before {
  background-image: url('./../assets/svg/minus.svg');
  background-position: center;
  background-repeat: no-repeat;
  left: 0;
}
.tea__button--right::before {
  right: 0;
  background-image: url('./../assets/svg/plus.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.tea__button--right {
  transition: all ease-in-out 250ms;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50%;
  color: transparent;
}

.tea__quantity {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 3.1rem;
  transition: background ease-in-out 300ms;
  position: relative;
}

.tea-content {
  font-size: 0.9rem;
  width: 100%;
  white-space: nowrap;
  text-align: center;
}

.cart-item-price__value {
  font-size: 1rem;
  line-height: 100%;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
}

.cart-item-price {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.cart-item__remove {
  position: absolute;
  display: block;
  width: 15px;
  height: 15px;
  top: rem(54);
  right: 10px;
  border: none;
  background-color: transparent;
  background-image: url('./../assets/svg/remove.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.cart-item__remove:hover {
  width: 16px;
  height: 16px;
  transition: 100ms;
}

.checkout-field-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 26.9rem;
  max-width: 24.9rem;
}

.checkout-field-container--normal {
  margin-top: 1.1rem;
}

.checkout-field-container__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.checkout-field--promo-code {
  width: 9.8rem;
  max-width: 9.8rem;
  min-width: 9.8rem;
}

.checkout-field {
  width: 12.9rem;
  position: relative;
}

.checkout-field__field {
  display: block;
  margin-top: 0.4rem;
}

.checkout-field__field {
  border: 0.1rem solid rgb(204, 204, 203);
  border-radius: 0.1rem;
  height: 3.1rem;
  font-size: 1rem;
  background: rgb(255, 255, 255);
  width: 100%;
  padding-left: 0.625rem;
  display: block;
  resize: none;
}

input,
textarea {
  background: #fff;
  border: 1px solid #d2d5d9;
  padding: 17px 16px;
  font-size: 0.9rem;
  line-height: 130%;
  align-items: center;
  color: #8c9095;
  border-radius: 6px;
  font-weight: 600;
}

.promocode__btn {
  text-align: center;
  box-shadow: #cccccb 0px 0px 0px 0.1rem;
  display: block;
  font-size: 0.9rem;
  background: #fff;
  line-height: 1.1rem;
  color: #3b3e42;
  margin-top: 0.4rem;
  border-radius: 0.3rem;
  margin-left: 1.1rem;
  height: 3rem;
  text-decoration: none;
  padding-left: 1.2rem;
  padding-right: 1.1rem;
  width: auto;
  border: none;
  opacity: 1;
  transition: all 200ms ease-in-out;
}

.button {
  display: inline-block;
  border: none;
  border-radius: 4px;
  padding: 12px 16px;
  width: max-content;
  background: #a1c656;
  color: #fff;
  transition: 0.5s;
}

.promocode__btn:hover {
  box-shadow: #b2b5b7 0px 0px 0px 0.1rem;
}

.button:focus,
.button:hover {
  background: #a1c656;
  color: #fff;
  outline: none;
}

.checkout-field-container__row--promocode {
  justify-content: flex-start;
}
// aside

.basket-checkout-container {
  height: 100%;
}

.checkout-info-cart {
  padding-top: 1.1rem;
}

.checkout-info-cart {
  position: relative;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
  padding-top: 1.2rem;
  padding-bottom: 1.7rem;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background: rgba(237, 239, 240, 0.7);
}

.checkout-info-cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.1rem;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  line-height: 1.1rem;
}

.checkout-info-cart-item__name {
  color: #3b3e42;
}

.checkout-info-cart-item__price {
  text-align: right;
  font-weight: 600;
}

.checkout-info-cart__stars {
  border-bottom: 1px solid;
  height: 0.5rem;
  width: 100%;
}

.checkout-info__button {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1.1rem;
  background: #a1c656;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: normal;
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
  display: block;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0.3rem;
  position: relative;
  transition: background-color ease-in-out 200ms;
  background-color: #a1c656;
  background-position: top center;
  background-repeat: repeat-x;
  background-size: 0.8rem;
  text-decoration: none;
}

.checkout-info__button:hover .checkout-info__button-arrow {
  transition: all ease-in-out 200ms;
  transform: translateX(0.6rem);
}
.checkout-info__button-arrow {
  display: block;
  margin-left: 0.6rem;
  background-size: contain;
  width: 1.1rem;
  height: 0.9rem;
  margin-top: 0rem;
  background-image: url('./../assets/svg/arrow.svg');
  z-index: 2;
  transition: all ease-in-out 400ms;
  transform: translateX(0rem);
}

.checkout-info__links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
}

.checkout-info__link {
  text-align: center;
  flex: 1;
  border-radius: 0.3rem;
  box-shadow: 0 0 0 0.1rem #e0e0df;
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 0.6rem 0.8rem;
  line-height: 1.1rem;
  color: #3b3e42;
  margin-bottom: 1.4rem;
  transition: all ease-in-out 200ms;
  width: -moz-calc(50% - 0.6rem);
  width: calc(50% - 0.6rem);
}

.discount {
  margin-top: 20px;
}
