.grid-order {
  padding-top: vw(10);
  margin-bottom: vw(162);
  height: 100%;
  display: grid;
  grid-gap: vw(20);
  grid-template-columns: 1fr 363px;
  grid-template-rows: 1fr;
  grid-template-areas: 'main aside';
}

main {
  grid-area: main;
  display: grid;
}

aside {
  border-radius: vw(20);
  grid-area: aside;
}

.order-checkout__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.order-checkout__column {
  width: 100%;
  box-sizing: border-box;
}

.order-checkout-field-container--container-phone-code {
  align-items: flex-start;
  justify-content: flex-start;
}

.order-checkout-field-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 27.875rem;
}

.order-checkout-field-container__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.order-checkout-field--phone {
  position: relative;
}
.order-checkout-field--phone {
  max-width: 245px;
  width: 100%;
}
.order-checkout-field {
  width: 12.875rem;
  position: relative;
}
.order-checkout-field__label {
  font-size: 0.875rem;
}
.order-checkout-field-container__row {
  width: 100%;
  margin-top: 5px;
}
.ag-countrymask.iti {
  position: relative;
  display: inline-block;
}
.order-checkout-field-container__row {
  width: 90px;
}
.iti--allow-dropdown {
  cursor: pointer;
}
.iti--allow-dropdown,
.iti--separate-dial-code {
  right: auto;
  left: 0;
}
.iti input,
.iti input[type='tel'],
.iti input[type='text'] {
  position: relative;
  z-index: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 36px;
  margin-right: 0;
}

.order-checkout-field--phone {
  max-width: 245px;
  width: 100%;
}

.order-checkout-field--phone {
  position: relative;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
}

.order-checkout-field__label_mini {
  font-size: 0.7rem;
  color: #8b9299;
  line-height: 0.9375rem;
  position: absolute;
  right: 0;
  top: 0.15rem;
}

.order-checkout-field--family {
  margin-left: 0.5625rem;
  position: relative;
}

.order-checkout-field--name {
  margin-right: 0.5625rem;
}
.order-checkout-field--name {
  margin-right: 0.5625rem;
}
.order-checkout-field--phone {
  max-width: 261px;
  width: 100%;
}
.order-checkout-field--100 {
  width: 100%;
}
.order-checkout-field__field {
  display: block;
  margin-top: 0.375rem;
}
.order-checkout-field-container__description {
  margin-top: 0.4375rem;
  font-size: 0.8125rem;
  color: #8b9299;
  line-height: 0.9375rem;
}
.order-checkout-field-container {
  margin-top: 1.5rem;
}
#order_form_content textarea {
  width: 100%;
  height: 54px;
  background: 0;
  font-size: 14px;
  color: #252525;
}
.order-form-control {
  padding: 0 0 0 15px;
  border-radius: 6px;
  font: bold 16px 'Proxima Nova', sans-serif;
}

.delivery__row--single-line .delivery-item {
  flex: 1;
  padding-left: 0.5625rem;
  padding-right: 0.5625rem;
  max-width: unset;
  min-width: unset;
  margin-right: 1.125rem;
}

.delivery-item {
  cursor: pointer;
  padding-top: 0.91875rem;
  padding-bottom: 0.64375rem;
  width: 100%;
  min-width: 13.8125rem;
  width: 100%;
  max-width: 9.4375rem;
  padding-top: 13px;
  border-radius: 0.3125rem;
  margin-bottom: 1.125rem;
  box-shadow: 0 0 0 1px #e0e0df;
  transition: all ease-in-out 0.2s;
  position: relative;
}
.delivery-item input[type='radio'] {
  display: none;
}

.delivery-item__title {
  font-size: 0.9375rem;
  line-height: 1rem;
  color: #3b3e42;
  display: block;
  text-align: center;
  margin-bottom: 4px;
}
.delivery-item__description {
  font-size: 0.875rem;
  line-height: 1rem;
  display: block;
  text-align: center;
  color: rgba(59, 62, 66, 0.7);
}
.delivery-hide--active > * {
  transition: all ease-in-out 0.3s;
  transition-delay: 150ms;
  opacity: 1;
}

.delivery-item--active {
  position: relative;
  box-shadow: 0 0 0 2px #2fac66;
  transition: all ease-in-out 0.1s;
  cursor: default;
  pointer-events: none;
}

.delivery-item::after {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-0.6875rem) translateX(0.6875rem) scale(0);
  display: block;
  width: 1.75rem;
  pointer-events: none;
  height: 1.75rem;
  content: '';
  background: url('./../assets/svg/check.svg');
  opacity: 0;
  transition: all ease-in-out 250ms;
}
.delivery-item--active::after {
  transform: translateY(-0.6875rem) translateX(0.6875rem) scale(1);
  opacity: 1;
  transition: all ease-in-out 150ms;
}

.input-form-select {
  margin-top: 0.375rem;
  padding-left: 20px;
  height: 45px;
  font-size: 14px;
  background: #fff;
  border-radius: 6px;
  border: 1px solid #d2d5d9;
}
.order-checkout__title--h3,
.order-checkout__title--small {
  font-weight: 700;
  font-size: 24px;
}
.order-checkout__title--h3 {
  margin: 3rem 0 2rem;
  line-height: 17px;
}
.order-soa-property-container {
  margin-top: 0.375rem;
}

.checkout-field--data {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.input-form-time {
  margin-top: 0.375rem;
  width: 200px;
}
.input-form-data {
  margin-top: 0.375rem;
  width: 200px;
}
.body-wrap-scroll {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
}

.order-price-item__image {
  margin-bottom: 0.1875rem;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('./../assets/svg/map.svg') no-repeat center;
  width: 35px;
}
.order-price-item__image_AC {
  background-image: url('./../assets/svg/map.svg');
  width: 115px;
}
.order-price-item__image_cash {
  background-image: url('./../assets/svg/wallet.svg');
  width: 115px;
}
.order-price-item__image_BB {
  background-image: url('./../assets/svg/score.svg');
  width: 115px;
}
.order-price-item__image_cash {
  background-image: url('./../assets/svg/wallet.svg');
  width: 115px;
}
.order-price-item__title {
  font-size: 0.9375rem;
  line-height: 1.0625rem;
  margin-bottom: 0.23125rem;
  text-align: center;
}
.order-price-item input[type='radio'] {
  display: none;
}

.order-price {
  position: relative;
}

.order-checkout__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.order-price__row .order-price-item {
  margin-right: 16px;
  width: calc(33% - 15px);
}

.delivery__row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
}
.delivery__row .delivery-item {
  margin-right: 16px;
  width: calc(68% - 15px);
}
.order-checkout-break-row {
  height: 0.0625rem;
  display: block;
  background: #e0e0df;
}
.order-checkout-break-row {
  margin: 40px 0;
}
.order-checkout__title--h3 {
  margin: 3rem 0 2rem;
  font-size: 18px;
  line-height: 17px;
}
.order-checkout__title--small {
  font-size: 1.375rem;
  margin-top: 2rem;
  line-height: 100%;
  font-weight: 600;
}
.order-checkout__title--small {
  margin: 1rem 0;
}
.order-price__row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 1.875rem;
  justify-content: space-between;
  flex-wrap: wrap;
}
.order-price-item {
  cursor: pointer;
  width: -moz-calc(33% - 0.5625rem);
  width: calc(33% - 0.5625rem);
  box-shadow: 0 0 0 1px #e0e0df;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.77375rem 0.1875rem 1.01875rem;
  margin-bottom: 1.125rem;
  border-radius: 0.3125rem;
  padding-top: 10px;
  padding-bottom: 0px;
  position: relative;
  transition: all ease-in-out 0.2s;
}
.order-price-item--active {
  box-shadow: 0 0 0 2px #2fac66;
  transition: all ease-in-out 0.1s;
}

.order-price-item::after {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-0.6875rem) translateX(0.6875rem) scale(0);
  display: block;
  width: 1.75rem;
  height: 1.75rem;
  content: '';
  opacity: 0;
  background: url('./../assets/svg/check.svg') center/contain no-repeat;
  transition: all ease-in-out 250ms;
}
.order-price-item--active::after {
  opacity: 1;
  transform: translateY(-0.6875rem) translateX(0.6875rem) scale(1);
  transition: all ease-in-out 150ms;
}

.order-checkout-field__field:hover {
  border: 1px solid #b2b5b7;
}

.order-checkout-field__field--message {
  min-height: 4.8125rem;
}
.order-checkout-field__field {
  display: block;
  margin-top: 0.375rem;
}
.order-checkout-field__field--message {
  padding-top: 0.75rem;
  padding-left: 0.625rem;
  padding-right: 1.1875rem;
}
.order-checkout-field__field {
  border: 1px solid #cccccb;
  border-radius: 6px;
  height: 3.125rem;
  font-size: 1rem;
  background: #fff;
  width: 100%;
  padding-left: 0.625rem;
  display: block;
  resize: none;
  font-weight: 400;
}
.order-checkout-info__description {
  color: #8b9299;
  font-size: 0.8125rem;
  text-align: center;
  padding-top: 0.625rem;
}
.grid-order {
  position: relative;
}

.basket-total-block {
  position: sticky;
  top: 0;
}

.form-input {
  margin-top: 0.375rem;
}

.delivery__address {
  margin-right: 1.125rem;
  padding-bottom: 0.64375rem;
  width: 100%;
  max-width: 29.4375rem;
  padding-top: 13px;
  border-radius: 0.313rem;
  margin-bottom: 1.125rem;
  box-shadow: 0 0 0 1px #e0e0df;
}

.hide {
  display: none;
}

.delivery-item__button {
  cursor: pointer;
  text-align: center;
  border-radius: 0.3rem;
  box-shadow: 0 0 0 0.1rem #a1c656;
  padding: 0.6rem 0.8rem;
  transition: all ease-in-out 200ms;
  // width: calc(100% - 0.6rem);
  margin-top: 5px;
  font-size: 0.86rem;
  line-height: 1rem;
  display: block;
  text-align: center;
  color: rgba(59, 62, 66, 0.7);
  margin-left: auto;
  margin-right: auto;
}
.delivery-item__button:hover {
  background: #a1c656;
  color: #fff;
}
.delivery__link-order {
  color: #a1c656;
}
.delivery__star {
  color: #d93333;
}

.form-group {
  position: relative;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 2px;
  color: #000;
}

.order-checkout__title--delivery {
  margin: 1rem 0 1rem;
  font-size: 18px;
  line-height: 17px;
}

.order-checkout__label {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 2px;
  color: #000;
}
.order-checkout__label-span {
  font-weight: 500;
  font-size: 14px;
  color: #737373;
}

.order-checkout__btn {
  margin-top: 10px;
  padding: 0px 16px;
  font-size: 0.9rem;
  align-items: center;
  color: #fff;
  border-radius: 6px;
  font-weight: 600;
  background: #88b52f;
  border: 1px solid #88b52f;
  height: 36px;
  line-height: 28px;
  cursor: pointer;
}
.order-checkout__btn:hover {
  outline: none;
  background-color: #718b3b;
  border-color: #718b3b;
}
