.page-section {
  margin-top: 32px;
}

.empty-cart-image {
  width: 217px;
  height: 181px;
  margin: 50px auto 42px;
  background: url(./../assets/svg/basket.svg) no-repeat center;
  background-size: contain;
}

.empty-cart-title {
  font-weight: 500;
  font-size: 36px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 12px;
}
.empty-cart-text {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #838383;
}

.catalog {
  max-width: 540px;
  margin: 0 auto;
}
