.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 2;
}
.modal {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  width: 100%;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.2);
  height: 100vh;
  overflow-y: auto;
}

.login__body {
  height: calc(100vh - 113px);
  overflow-y: auto;
}

.modal__body {
  position: relative;
  top: 55px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100%;
  max-width: 612px;
  height: auto;
  overflow-y: unset;
  margin-bottom: 100px;
  background: #fff;
  border-radius: 6px;
}

.login__body {
  top: 15%;
  width: 400px;
  height: auto;
  overflow-y: unset;
}

.modal__header,
.modal__main {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
}
.modal__header {
  position: relative;
  padding: 18px 16px;
  border-bottom: 1px solid #e2e3e8;
}

.login__header {
  border-bottom: none;
  padding-bottom: 0;
}
.modal__header,
.modal__main {
  width: 100%;
  box-sizing: border-box;
  padding: 0 24px 24px;
}

.modal__header {
  position: relative;
  padding: 32px 24px 8px;
  border-bottom: none;
}

.login__header {
  padding-top: 48px;
}
.login__main {
  box-sizing: border-box;
  padding: 0 36px 48px;
}

.login__form input {
  height: 48px;
  box-sizing: border-box;
  width: 100%;
  border: none;
}

.login__form-field {
  border-radius: 4px;
}

.login__form-phone {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding-left: 114px;
  position: relative;
}

.certificate__form .login__form-field {
  padding: 0;
}

.login__form--empty .login__form-field {
  border: 1px solid #d2d5d9;
}

.login__form-submit {
  margin: 24px 0;
  background: #a1c656;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  color: #fff;
  cursor: pointer;
}
.certificate__form .login__form-submit {
  line-height: 100%;
}

.login__form--empty .login__form-submit {
  pointer-events: none;
  cursor: default;
}

.login__form {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.btn-close,
.modal__btn-close,
.search-btn-reset,
.login__from-btn-reset {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 48px;
  height: 48px;
  padding: 0;
}
.modal__btn-close {
  top: 4px;
  right: 6px;
}
button:focus,
.button:focus,
button:hover,
.button:hover {
  background: #8cad4a;
  color: #fff;
  outline: none;
}
.btn-close,
.modal__btn-close,
.modal__btn-close:focus,
.modal__btn-close:hover,
.search-btn-reset,
.search-btn-reset:focus,
.search-btn-reset:hover,
.login__from-btn-reset,
.login__from-btn-reset:hover,
.login__from-btn-reset:focus {
  background-color: transparent;
  background-image: url(./../assets/svg/close-2.svg);

  background-size: 16px;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}
.login__from-btn-reset {
  height: 48px;
  width: 48px;
}

.search-btn-reset,
.login__from-btn-reset {
  background-size: 11px;
}
.login__from-btn-reset,
.login__from-btn-reset:hover,
.login__from-btn-reset:focus {
  background-size: 11px;
}

.login__form--margin {
  margin-bottom: 20px;
}
